# BASE_URL=http://localhost:98/api
# NEXT_PUBLIC_BASE_URL=http://localhost:98/api
# NEXT_PUBLIC_USER_ORIGIN=http://localhost:98

BASE_URL=https://api.singingbowlvillagenepal.com/api
NEXT_PUBLIC_BASE_URL=https://api.singingbowlvillagenepal.com/api
NEXT_PUBLIC_USER_ORIGIN=https://singingbowlvillagenepal.com